{% extends "base.html" %}

{% block title %} Acerca de nosotros ☺ {% endblock %}

{% block contenido %}
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg bg-body-tertiary rounded-4 border-success border-5 fst-italic">
                    <div class="card-header text-center fst-italic fs-3">
                        <h2>Acerca de NutriApp y nosotros</h2>
                    </div>
                    <div class="card-body fst-italic fs-5">
                        <p>Somos un equipo estudiantil de 2 personas, encargado de realizar una pagina nutricional como proyecto académico.</p>
                        <p>Nuestra aplicacion tiene como objetivo proporcionar planes de alimentación personalizados y recursos educativos para mejorar la salud y el bienestar de nuestros usuarios.</p>
                        <p>Con esta pagina podrás acceder a:</p>
                        <ul>
                            <li>Planes de alimentación personalizados basados en tus preferencias, restricciones dietéticas y objetivos de salud.</li>
                            <li>Recetas deliciosas y nutritivas que se adaptan a tu nivel de experiencia en la cocina.</li>
                            <li>Información sobre calorías, nutrientes y más para ayudarte a tomar decisiones informadas.</li>
                            <li>Seguimiento de tu progreso y ajustes continuos para asegurarnos de que estás en el camino correcto.</li>
                            <li>Acceso a recursos educativos sobre nutrición y ejercicios para realizar actividad física.</li>
                        </ul>
                        <p class="fs-4">Y lo mejor es que es totalmente gratuita para todos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}