{% extends 'base.html' %}

{% block title %} Banco de recetas {% endblock title %}

{% block contenido %}

<div class='container mt-4'>
        <h2>Banco de recetas</h2>
        <p>Seccion especial para buscar recetas de manera mas comoda y exacta a sus gustos ☺</p>
    <div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="max-width: 600px; width: 100%; margin-top: 40px;">
    
    <div class="card-header">
        <h2>Busquemos tu alimento!</h2>
    <div>
        <form method="POST" action="/bancorecetas.html">
            <div class="mb-3">
                <label for="tiempo" class="form-label">Tiempo de preparacion</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione el tiempo de preparacion de su comida☺</option>
                        <option value="15">menos de 15 minutos</option>
                        <option value="30">menos de 30 minutos</option>
                        <option value="60">menos de una hora</option>
                        <option value='1h'>mas de una hora</option>
                    </select>
            </div>
            <div class="mb-3">
                <label for="dificultad" class="form-label">Dificultad de preparacion</label>
                <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione la dificultad de preparacion de su comida☺</option>
                        <option value="facil">Facil y sencillo</option>
                        <option value="intermedio">Intermedio</option>
                        <option value="dificil">Puedo con lo que sea</option>
                    </select>
            </div>
            <div class="mb-3"><!-- copiada de registro-->
                <select class="form-select border border-black" aria-label="Default select example" name="dietas" required>
                    <option selected>Seleccione la dieta que desea.</option>
                    <option value="vegana">Vegana</option>
                    <option value="vegetariana">Vegetariana</option>
                    <option value="keto">Keto</option>
                    <option value="mediterranea">Mediterranea</option>
                    <option value="ninguna">Ninguna en especifica</option>
                </select>
            </div>    
        </div>
    </div>
            <button type="submit" class="btn btn-success">Buscar receta</button>
        </form>

</div>
{% endblock %}