<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}  {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body style="background-color: rgba(224, 224, 224, 0.81); text-color: white; color: white; bg-gradient">

    <nav class="navbar navbar-expand-lg py-3 fs-5 border-bottom border-5 border-black fw-bolder p-3 mb-4"  style="background-color: rgba(0, 0, 0, 1);">
        <div class="container-fluid">
            <img src="static/imagenes/Gemini_Generated_Image_z3bn2mz3bn2mz3bn-removebg-preview.png" alt="Logo" width="105" height="105" class="d-inline-block align-text-top" >
            <a class="navbar-brand fs-1 fst-italic text-success" style="margin-left: 90px;">NutriApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="collapse navbar-collapse fst-italic" id="navbarNav" style="justify-content: end;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% if session.get('usuario') %}/logout{% else %}/login{% endif %}">
                                {% if session.get('usuario') %}
                                Cerrar sesión

                                {% else %}
                                    Iniciar sesión

                                    {% endif %}
                            </a>
                        </li>
                        
                        {% if session.get('usuario') %}
                            {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/registro">Registrarte</a>
                        </li>
                        {% endif %}
                        

                        {% if session.get('usuario') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Calculadoras
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/calcuimc">Calculadora IMC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/energiresu">Calculo de TMB y GCT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/calcupeso">Calculadora PSI</a>
                                </li>

                                {% if session.get('usuario') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/registrar_alimentos">Calculo Macronutrientes</a>
                                </li>
                                    {% else %}
        
                                {% endif %}


                            </ul>
                        </li>
                            {% else %}

                            <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Calculadoras
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/registroimc">Calculadora IMC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/calculoene">Calculo de TMB y GCT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/registropsi">Calculadora PSI</a>
                                </li>
                            </ul>
                        </li>

                        {% endif %}
                        

                        {% if session.get('usuario') %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/perfil">Perfil</a>
                        </li>
                            {% else %}

                        {% endif %}


                        {% if session.get('usuario') %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/buscador">Buscador de recetas</a>
                        </li>
                            {% else %}

                        {% endif %}
                        
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/acerca">Acerca de</a>
                        </li>





                        
                    </ul>
                </div>
        </div>
    </nav>
    
    <div class="container-fluid ">
    {% block contenido %}{% endblock %}
    </div>

    <footer class="border-black border-bottom border-3 fst-italic text-center py-4 text-light " style="background-color: rgba(0, 0, 0, 1); margin-top: 100px;">
        <h4>Cualquier duda contactenos: </h4>
        
        <h6>
            Jesus Antonio Sagarnaga Macias - 23308060610335@cetis61.edu.mx 
            <br>
            Luis Angel Romo Alvarado - 23308060610320@cetis61.edu.mx
        </h6>

        <p class="fs-5">Lugar de creación: Instituto Preparatorio de Educación Media Superior Cetis61</p>

        <p class="fs-5">Para más información, visita nuestra página de<a href="/acerca"> Acerca de</a>.</p>


        <p>copyright © 2025 NutriApp</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>