{% extends "base.html" %}
{% block title %}Buscador Nutricional{% endblock %}
{% block contenido%}



<div class="container mt-5">
    <h1 class="text-center text-success mb-4" >Buscador Nutricional</h1>
    <form method="POST" action="/buscar">
        <div class="row mb-3 ">

            <div class="col-10">
                <input type="text" class="form-control" name="name" placeholder="Ingrese un alimento" required>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        
        </div>
        
    </form>

    <div class="fs-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{%endblock%}