{% extends 'base.html' %}
{% block title %}Buscador de Nutrientes{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <h1 class="text-center mb-4 text-success fst-italic" >Buscador de nutrientes en comidas</h1>
    <form method="POST" action="/nutri">
        <div class="mb-3">
            <input type="text" class="form-control" name="busqueda_nutri" placeholder="Ingrese un alimento" required>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success btn-lg">Buscar</button>
        </div>
    </form>
</div>
{% endblock %}