{% extends 'base.html' %}

{% block contenido %}

<div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="width: 45rem; height: auto; margin-top: 40px;">
    <div class="card-body">
        <h5 class="card-title">Peso Corporal Ideal</h5>
        <p class="card-text">Datos</p>

            <p><strong>Peso:</strong> {{ peso }} kg</p><br><!-- peso de ejmplos -->
            <p><strong>Altura:</strong> {{altura }} cm</p><br><!-- altura de ejmplos -->
            <h4>Calculo:</h4>
            <p><strong>Peso ideal:</strong> {{ psi }} kg</p><br><!-- peso de ejmplos --> 
    </div>
</div>


{% endblock %}