{% extends 'base.html' %}

{% block contenido %}

<div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="width: 45rem; height: auto; margin-top: 40px;">
    <div class="card-body">
        <h5 class="card-title">Calculadora IMC (Indice de Masa Corporal)</h5>
        <p class="card-text">Datos</p>

            <p><strong>Peso:</strong> {{ usuario.peso }} kg</p><br><!-- peso de ejmplos --> 
            <p><strong>Altura:</strong> {{ usuario.altura }} cm/m</p><br><!-- altura de ejmplos -->
            <p><strong>IMC:</strong> {{ imc }}</p><br><!-- imc de ejmplos -->
            <p><strong>informacion:</strong> {{ informacion }}</p><br><!-- infos de ejmplos -->
            <p><strong>Recomendaciones:</strong> {{ recomendaciones }}</p><br><!-- infos de ejmplos -->
    </div>
</div>


{% endblock %}