{% extends 'base.html' %}

{% block contenido %}

{%if session.get('usuario')%}

<div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="max-width: 650px; width: 100%; margin-top: 40px;">
    <div class="card-body">
        <h1 class="card-title">Peso Corporal Ideal</h1>
        <h3 class="card-text">Datos de: {{usuario.nombre}}</h3>

            <p><strong>Altura:</strong> {{ usuario.peso }} cm</p><br><!-- altura de ejmplos -->
            <p><strong>Altura:</strong> {{ usuario.altura }} cm</p><br><!-- altura de ejmplos -->
            <p><strong>Peso ideal:</strong> {{ psi }} kg</p><br><!-- peso de ejmplos --> 
    </div>
</div>
<div class='d-flex justify-content-center mb-4'>
    <a href='/registropsi' class="btn btn-success mb-4">Quieres calcularlo por ti mismo?</a>
</div>
{%else%}
<div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="max-width: 650px; width: 100%; margin-top: 40px;">
    <div class="card-body">
        <h1 class="card-title">Peso Corporal Ideal</h1>
        <h3 class="card-text">Datos</h3>

            <p><strong>Peso:</strong> {{ peso }} kg</p><br><!-- peso de ejmplos -->
            <p><strong>Altura:</strong> {{altura }} cm</p><br><!-- altura de ejmplos -->
            <h4>Calculo:</h4>
            <p><strong>Peso ideal:</strong> {{ psi }} kg</p><br><!-- peso de ejmplos --> 
    </div>
</div>
{%endif%}


{% endblock %}