{%extends "base.html"%}
{% block title%} Clasificador macronutrientes {% endblock %}

{% block contenido %}

<div class="container-fluid fst-italic align-items-center" style="margin-top: 30px; margin-bottom: 30px; ">
<h3 class="text-center text-success">Contador calorico</h3>
<button type="button" class="btn btn-success d-block mx-auto mb-3 shadow-lg rounded-4 fs-5 fst-italic" style="width: 12rem;" onclick="location.href='/registrar_alimentos'">Agregar alimento</button>
<button type="button" class="btn btn-danger d-block mx-auto mb-3 shadow-lg rounded-4 fs-5 fst-italic" style="width: 16rem;" onclick="location.href='/eliminar'">Eliminar Alimento</button>

<table class="table table-bordered border-success border-3 mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="width: 45rem; height: auto; margin-top: 40px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Alimento</th>
            <th scope="col">Calorias</th>
            <th scope="col">Grasas</th>
            <th scope="col">Macronutriente</th>
            <th scope="col">Grasas calorico</th>
            <th scope="col">proteinas calorico</th>
            <th scope="col">Carbohidratos calorico</th>
            <th scope="col">Agua</th>
            
        </tr>
    </thead>
    <tbody>
            {% for a in alimento %}
        <th scope="row">{{ loop.index }}</th>
            <td class="table-info">{{a.nombre}}</td>
            <td class="table-info">{{a.grasas}}</td>
            <td class="table-info">{{a.proteinas}}</td>
            <td class="table-info">{{a.carbohidratos}}</td>
            <td class="table-info">{{a.grasasc}}</td>
            <td class="table-info">{{a.proteinasc}}</td>
            <td class="table-info">{{a.carbohidratosc}}</td>
            <td class="table-info">{{a.agua}} L</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{%endblock%}