{% extends "base.html" %}

{% block title %} Contador {% endblock %}

{% block contenido %}

<div class="container-fluid fst-italic align-items-center" style="margin-top: 30px; margin-bottom: 30px; ">
<h3 class="text-center">Contador calorico</h3>
<table class="table mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="width: 45rem; height: auto; margin-top: 40px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Calorias</th>
            <th scope="col">Agua</th>
            <th scope="col">Macronutriente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row" >1</th>
            <td class="table-info"></td>
            <td class="table-info"></td>
            <td class="table-info"></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td class="table-success"></td>
            <td class="table-success"></td>
            <td class="table-success"></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}