{%extends "base.html"%}
{%block contenido%}
<div class="container" style="text-align: center; ">
    <div class="row " style="display: flex; justify-content: center; align-items: center;">
        <h1 style="margin-top: 50px;">Resultados del calculo</h1>
        <div class="col-5">
            <div class="card" style="margin-top: 50px;">
                <div>
                    <h3>Tasa Metabolica Basal (TMB)</h3>
                </div>

                <div>
                    <p class='fs-3' style="color: blue;">{{tbm}}</p>
                </div>

                <div>
                    <h4>Kcal/dia(Gasto en Reposo)</h4>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card" style="margin-top: 50px;">
                <div>
                    <h3>Gasto Energetico Total (GET)</h3>
                </div>

                <div>
                    <p class='fs-3' style="color: blue;">{{get}}</p>
                </div>

                <div>
                    <h4>Kcal/dia(Gasto con Actividad)</h4>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</div>
{%endblock%}