{% extends 'base.html' %}

{% block title %} NutriApp {% endblock %}

{% block contenido %}
    <div class="container-fluid fst-italic align-items-center" style="margin-top: 30px; margin-bottom: 30px; ">
    
        <div class="row">
            <h1 class="text-center text-black">¡Bienvenidos a NutriApp!</h1>
            <h3 class="text-center text-black">Una aplicación para mejorar nuestra rutina de alimentación y cumplir nuestros objetivos de salud de manera efectiva.</h3>
            <img src="static/imagenes/comida.jpg" alt="Plato de frutas y verduras" class="img-fluid mx-auto d-block rounded-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded " style="max-width: 600px; margin-top: 20px;">
        </div>

        {% if session.get('usuario') %}
        {% else %}
        <div class="row justify-content-center" style="margin-top: 30px; gap: 20px;">
            <div class="col-auto">
                <button class="btn btn-success fs-5 fw-bold" style="color: white; height: 65px; width: 160px;">
                    <a class="text-black" href="/login">Iniciar Sesión</a>
                </button>
                

            </div>
        </div>
        {% endif %}

        <!--
        
        -->

        <div class="row justify-content-center gap-3" style="margin-top: 40px; margin-end: 80px;">

            {% for info in informacion %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="card shadow-lg border border-success border-5 fw-bold " style="width: 25rem; margin 30px; background-color: rgba(255, 255, 255, 1);">
                    <img src="{{ info.imagen }}" class="card-img-top" alt="{{info.imagen}}">
                        <div class="card-body">
                            <p class="card-text fs-5">{{ info.descripcion }}</p>
                        </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <br>
            <h5 class='text-center fst-italic text-black'>¿Como usar nuestra aplicacion?</h5>
    <div class="row text-center" >
        <div class='col mb-4'>
            <p class="text-dark fs-3 text-center fst-italic my-3">Manual para el usuario!</p>
            <a class="text-dark fs-4 text-center fst-italic" href="{{ url_for('static', filename='imagenes/doc/Manual del usuario!.pdf') }}" download>Descargar manual para el usuario</a>
        </div>

    </div>
    </div>

{% endblock %} 