{% extends "base.html" %}
{% block title %} Objetivos {% endblock %}

{% block contenido %}

<h1 class="text-center fst-italic text-success" style="margin-top: 20px;">Experiencia</h1>

    <div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="max-width: 600px; width: 100%; margin-top: 40px;">
    <form action="/nivel" method="POST" id="experiencia"><!-- lo que hiciste en registro-->
        <div class="card-header">
            <h2>Nivel de Experiencia</h2>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="card-body">
            <div class="form-check">
                <input class="form-check-input border border-black" type="radio" name="experiencia" value="principiante" id="principiante" required>
                <label class="form-check-label" for="principiante">
                    ¿Principiante en la cocina?
                </label>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input border border-black" type="radio" name="experiencia" value="intermedio" id="intermedio" required>
                <label class="form-check-label" for="intermedio">
                    ¿Intermedio?
                </label>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input border border-black" type="radio" name="experiencia" value="avanzado" id="avanzado" required>
                <label class="form-check-label" for="avanzado">
                    ¿Avanzado?
                </label>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input border border-black" type="radio" name="experiencia" value="chef" id="chef">
                <label class="form-check-label" for="chef">
                    ¿Chef aficionado?
                </label>
            </div>
            <br>

            <footer>
                <button type="submit" class="btn btn-success">Finalizar registro</button>
            </footer>
            </form>
    </div>


{% endblock %}