{% extends "base.html" %}
{% block title %} Perfil {% endblock %}

{% block contenido %}
<div>
    <h1 class="text-center fst-italic" style="margin-top: 20px;">Perfil de {{ usuario.nombre }}</h1>
    <div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="width: 45rem; height: auto; margin-top: 40px;">
        <div class="card-header">
            <h2>Detalles del perfil</h2>
        </div>
        <div class="card-body">
            <p>Nombre: {{ usuario.nombre }}</p>
            <p>Correo electrónico: {{ usuario.correo }}</p>
            <p>Edad: {{ usuario.edad }}</p>
            <p>Altura: {{ usuario.altura }} cm</p>
            <p>Peso: {{ usuario.peso }} kg</p>
            <p>Sexo: {{ usuario.sexo }}</p>
            <p>Objetivos: {{ usuario.objetivos}}</p>
            <p>Preferencias:</p>
            <ul>
                <li>Alergias:{{ usuario.preferencias.alergias}}</li>
                <li>Intolerancias: {{ usuario.preferencias.intolerancia}}</li>
                <li>Dietas: {{ usuario.preferencias.dietas}}</li>
                <li>No gustan: {{ usuario.preferencias.no_gusta }}</li>
            </ul>
            <p>Nivel de experiencia: {{ usuario.experiencia }}</p>
        </div>
    </div>
</div>
{% endblock %}