{% extends'base.html' %}

{% block contenido %}

<h1 class="text-center fst-italic text-success" style="margin-top: 20px;">Registremos tu IMC(Indice de Masa Corporal): </h1>
    <div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="max-width: 600px; width: 100%; margin-top: 40px;">
    
    <div class="card-header">
        <h2>Calculadora de IMC</h2>
    <div>
        <form method="POST" action="/calcuimc">
            <div class="mb-3">
                <label for="calorias" class="form-label">Altura en metros</label>
                <input type="text" class="form-control" id="altura" name="altura" pattern="[0-9,.]+" title="Solo se permiten numeros" required>
            </div>
            <div class="mb-3">
                <label for="macronutrientes" class="form-label">Peso en KG</label>
                <input type="text" class="form-control" id="peso" name="peso" pattern="[0-9,.]+" title="Solo se permiten numeros" required>
            </div>
        </div>
    </div>
            <button type="submit" class="btn btn-success">Calcular IMC</button>
        </form>

{% endblock %}