{% extends'base.html' %}

{% block contenido %}

<h1 class="text-center fst-italic" style="margin-top: 20px;">Registremos tu IMC(Indice de Masa Corporal): </h1>
    <div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded-4 text-center border-success border-5 fs-5 fst-italic" style="width: 45rem; height: auto; margin-top: 40px;">
    
    <div class="card-header">
        <h2>Registros alimenticio</h2>
    <div>
        <form method="POST" action="/contador">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Alimento consumido hoy?</label>
                <input type="text" class="form-control" id="alimento" name="alimento" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="calorias" class="form-label">Grasas g</label>
                <input type="text" class="form-control" id="grasas" name="grasas">
            </div>
            <div class="mb-3">
                <label for="macronutrientes" class="form-label">proteinas g </label>
                <input type="text" class="form-control" id="proteinas" name="proteinas">
            </div>
            <div class="mb-3">
                <label for="macronutrientes" class="form-label">Carbohidratos g</label>
                <input type="text" class="form-control" id="carbohidratos" name="carbohidratos">
            </div>
            <div class="mb-3">
                <label for="Agua" class="form-label">Cuantos litros de agua bebiste hoy?</label>
                <input type="text" class="form-control" id="agua" name="agua">
            </div>
        </div>
    </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>

{% endblock %}