{% extends 'base.html' %}

{% block title %}Resultados{% endblock %}

{% block contenido %}

<div class="container mt-4">
    <h1 class="text-center text-success mb-4">Resultados</h1>

    <div class="mb-4 text-center">
        <a href="{{ url_for('buscador') }}" class="btn btn-outline-success text-black">Nueva Búsqueda</a>
    </div>

    <div class="row">
        {% for receta in recetas %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-lg border border-success border-3" style="  border-radius: 15px; height: 400px; width: 400px;">

                <img src="{{ receta.imagen }}" class="card-img-top" alt="{{ receta.name }}" style="height: 200px; border-top-left-radius: 15px; border-top-right-radius: 15px;">

                <div class="card-body">
                    <h5>{{ receta.name }}</h5>
                    <p><strong>Calorías:</strong> {{ receta.calorias }}</p>

                    <p><strong>Ingredientes:</strong></p>
                    <ul>
                        {% for ingr in receta.ingredientes %}
                        <li>{{ ingr }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
